<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <style>
        .genre-row, .playlist-row {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .genre-item, .playlist-item, .recommendation-item {
            text-align: center;
            flex: 1;
            margin: 0 5px;
        }
        .genre-item img, .playlist-item img, .recommendation-item img {
            max-width: 300%; 
            max-height: 300px; 
        }
        #relatedContent, #playlistRecommendations {
            text-align: center;
        }
        
    </style>
</head>
<body>
    <h1>Please choose a Genre</h1>
    <input type="text" id="searchInput" placeholder="Search genres">
    <button id="searchButton">Search</button>
    <p id="browseAllGenres" style="cursor: pointer; color: blue; text-decoration: underline;">Browse All Genres</p>
    <div id="genres"></div>

    <div id="relatedContent"></div>

    <script>
        var accessToken = "BQDdC3rjjrDL2hCmChw2qCFmuWw9LMHji_MfBjMR2nTIh1kDYFIYT5jAeiSzlvN-hafxDHUDG4-JiZwtX9_DyeAvzJrC7wlWBWug7pusJgszv38Kofo";

        var isSearchPerformed = false;

        function renderGenres(genres) {
            var genresContainer = document.getElementById('genres');
            genresContainer.innerHTML = ''; 
            var genreRowsHTML = '';
            var genreRow = '<div class="genre-row">';
            genres.forEach(function(genre, index) {
                if (index % 5 === 0 && index !== 0) {
                    genreRowsHTML += genreRow + '</div>'; 
                    genreRow = '<div class="genre-row">'; 
                }
                genreRow += `
                    <div class="genre-item">
                        <a href="#" onclick="handleGenreClick('${genre.id}')">
                            <img src="${genre.icons[0].url}" alt="${genre.name}">
                            <p>${genre.name}</p>
                        </a>
                    </div>
                `;
            });
            genreRowsHTML += genreRow + '</div>'; 
            genresContainer.innerHTML = genreRowsHTML;
        }

        function fetchGenres(limit = 10) {
            fetch('https://api.spotify.com/v1/browse/categories?limit=' + limit, {
                headers: {
                    'Authorization': 'Bearer ' + accessToken
                }
            })
            .then(response => response.json())
            .then(data => {
                renderGenres(data.categories.items);
            })
            .catch(error => console.error('Error fetching genres:', error));
        }

        fetchGenres();

        function handleSearch() {
            var searchValue = document.getElementById('searchInput').value.toLowerCase();
            var relatedContentContainer = document.getElementById('relatedContent');
            relatedContentContainer.innerHTML = '';
            fetch('https://api.spotify.com/v1/browse/categories?limit=20', {
                headers: {
                    'Authorization': 'Bearer ' + accessToken
                }
            })
            .then(response => response.json())
            .then(data => {
                var filteredGenres = data.categories.items.filter(function(genre) {
                    var genreName = genre.name.toLowerCase();
                    var normalizedSearchValue = searchValue.replace(/[^\w\s]/g, '');
                    var normalizedGenreName = genreName.replace(/[^\w\s]/g, '');
                    return normalizedGenreName.includes(normalizedSearchValue);
                });
                renderGenres(filteredGenres);
                isSearchPerformed = true; 
            })
            .catch(error => console.error('Error fetching genres:', error));
        }

        function handleGenreClick(genreId) {
            var genresContainer = document.getElementById('genres');
            genresContainer.innerHTML = ''; 
            fetchRelatedContent(genreId);
        }

        document.getElementById('searchButton').addEventListener('click', handleSearch);

        document.getElementById('searchInput').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                handleSearch();
            }
        });

        document.getElementById('browseAllGenres').addEventListener('click', function() {
            fetchGenres(50); 
        });

        function fetchRelatedContent(genreId) {
            fetch(`https://api.spotify.com/v1/browse/categories/${genreId}/playlists?limit=10`, {
                headers: {
                    'Authorization': 'Bearer ' + accessToken
                }
            })
            .then(response => response.json())
            .then(data => {
                displayRelatedContent(data.playlists.items);
            })
            .catch(error => console.error('Error fetching related content:', error));
        }

        function displayRelatedContent(content) {
            var relatedContentContainer = document.getElementById('relatedContent');
            relatedContentContainer.innerHTML = '<h2>Related Content</h2>';
            var playlistRowsHTML = '';
            var playlistRow = '<div class="playlist-row">';
            content.forEach(function(item, index) {
                if (index % 5 === 0 && index !== 0) {
                    playlistRowsHTML += playlistRow + '</div>'; 
                    playlistRow = '<div class="playlist-row">'; 
                }
                var itemHTML = `
                    <div class="playlist-item">
                        <a href="${item.href}" target="_blank">
                            <img src="${item.images[0].url}" alt="${item.name}">
                            <p>${item.name}</p>
                        </a>
                    </div>
                `;
                playlistRow += itemHTML;
            });
            playlistRowsHTML += playlistRow + '</div>'; 
            relatedContentContainer.innerHTML += playlistRowsHTML;
            
            fetchRecommendations();
        }

        function fetchRecommendations() {
            fetch('https://api.spotify.com/v1/browse/featured-playlists', {
                headers: {
                    'Authorization': 'Bearer ' + accessToken
                }
            })
            .then(response => response.json())
            .then(data => {
                filterOutRelatedPlaylists(data.playlists.items);
            })
            .catch(error => console.error('Error fetching recommendations:', error));
        }
        
        function filterOutRelatedPlaylists(recommendations) {
            var relatedPlaylistIds = Array.from(document.querySelectorAll('#relatedContent .playlist-item')).map(item => {
                var href = item.querySelector('a').getAttribute('href');
                return href.substring(href.lastIndexOf('/') + 1);
            });
        
            var filteredRecommendations = recommendations.filter(item => !relatedPlaylistIds.includes(item.id));
            
            var relatedContentContainer = document.getElementById('relatedContent');
            relatedContentContainer.innerHTML += '<h2>Playlist Recommendations</h2>';
            var playlistRowsHTML = '';
            var playlistRow = '<div class="playlist-row">';
            filteredRecommendations.forEach(function(item, index) {
                if (index % 5 === 0 && index !== 0) {
                    playlistRowsHTML += playlistRow + '</div>'; 
                    playlistRow = '<div class="playlist-row">'; 
                }
                var itemHTML = `
                    <div class="playlist-item">
                        <a href="${item.href}" target="_blank">
                            <img src="${item.images[0].url}" alt="${item.name}">
                            <p>${item.name}</p>
                        </a>
                    </div>
                `;
                playlistRow += itemHTML;
            });
            playlistRowsHTML += playlistRow + '</div>'; 
            relatedContentContainer.innerHTML += playlistRowsHTML;
        }

    </script>
</body>
</html>

