{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'home/images/logo.png' %}" type="">
</head>

<body>
    <div class="home">
        <img src="{% static 'home/images/logo.png' %}" alt="Image" class="home-image">

        <p class="home-title">Music Recommendation</p>
        <div class="home-buttons">
            <a href="{% url 'music' %}" class="spotify-button">Music</a>
            <a href="{% url 'artist' %}" class="spotify-button">Artist</a>
            <a href="{% url 'genre' %}" class="spotify-button">Genre</a>
        </div>        
    </div>
</body>

<footer>
    <img src="{% static 'home/images/logo.png' %}" alt="Logo" class="footer-logo">
    <p class="footer-text">Powered by InfoTech Alliance</p>
</footer>

</html>
