{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'home/images/logo.png' %}" type="">
</head>
<body class="centered-content">
    <main class="centered-content main-content">
        <a href="{% url 'home' %}" class="back-button">Back</a>

        <!-- Search form -->
        <section class="search-bar">
            <h2 class="white-text search-title">Search for a Song</h2>
            <form action="{% url 'search_song' %}" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Enter song title" class="search-input">
                <button type="submit" class="spotify-button">Search</button> <!-- Apply .spotify-button class here -->
            </form>
            
            <p class="description">we recommend songs you might know</p>
        </section>        

        {% if not search_results %}
        <section>
            <h2 class="white-text">Random Tracks</h2>
            <div id="random-tracks" class="track-container">
                {% if random_tracks %}
                    {% for track in random_tracks %}
                        <div class="track">
                            <button class="song-button" data-title="{{ track.name }}" data-image="{{ track.album.images.0.url }}">
                                <img src="{{ track.album.images.0.url }}" alt="{{ track.name }}" width="100">
                                <h3>{{ track.name }}</h3>
                                <p>Artists: {% for artist in track.artists %}{{ artist.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                <p>Album: {{ track.album.name }}</p>
                                {% if track.preview_url %}
                                    <audio controls>
                                        <source src="{{ track.preview_url }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                {% else %}
                                    <p>No preview available</p>
                                {% endif %}
                                <hr>
                            </button>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No random tracks available</p>
                {% endif %}
            </div>
        </section>
        {% endif %}
        
        

    
        {% if search_results %}
        <!-- Display search results -->
        <section>
            <h2 class="white-text">Search Results</h2>
            <div id="search-results">
                {% for song in search_results %}
                <button class="song-button" data-title="{{ song.title }}" data-image="{{ song.image_url }}">
                    <img src="{{ song.image_url }}" alt="{{ song.title }}" width="200">
                    <p>Title: {{ song.title }}</p>
                    <p>Artist: {{ song.artist }}</p>
                    <p>Duration: {{ song.duration }}</p>
                </button>
                {% endfor %}
            </div>
        </section>
        {% endif %}
    
        {% if song_recommendations %}
        <!-- Display Song recommendations -->
        <section>
            <h2 class="white-text">Song Recommendations</h2>
            <div id="song-recommendations" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                {% for rec in song_recommendations %}
                <button class="song-button" data-title="{{ rec.title }}" data-image="{{ rec.image_url }}" style="margin-bottom: 20px;">
                    {% if rec.image_url %}
                        <img src="{{ rec.image_url }}" alt="{{ rec.title }}" width="200" style="margin-bottom: 10px;">
                    {% endif %}
                    <p>Title: {{ rec.title }}</p>
                    <p>Artist: {{ rec.artist }}</p>
                    <p>Duration: {{ rec.duration }}</p>
                </button>
                {% endfor %}
            </div>
        </section>
        
        {% endif %}
    </main>

    <!-- Modal -->
<div id="songCoverModal" class="modal">
    <center>
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="song-details">
                <img id="modalImg" src="" alt="Song Cover" class="img-fluid">
                <div class="song-info">
                    <p id="modalTitle"></p>
                    <p id="modalArtist"></p>
                    <p id="modalDuration"></p>
                </div>
            </div>
        </div>
    </center>
</div>

<script>
    // Get the modal element
    var modal = document.getElementById("songCoverModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on a song button, open the modal
    var songButtons = document.querySelectorAll('.song-button');
    songButtons.forEach(button => {
        button.addEventListener('click', function() {
            var imgSrc = this.getAttribute('data-image');
            var songInfo = this.querySelectorAll('p');
            var title = songInfo[0].textContent.replace('Title: ', '');
            var artist = songInfo[1].textContent.replace('Artist: ', '');
            var duration = songInfo[2].textContent.replace('Duration: ', '');

            document.getElementById('modalImg').src = imgSrc;
            document.getElementById('modalTitle').textContent = "Title: " + title;
            document.getElementById('modalArtist').textContent = "Artist: " + artist;
            document.getElementById('modalDuration').textContent = "Duration: " + duration;

            modal.style.display = "block";
        });
    });

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
</script>
</body>

<footer>
    <img src="{% static 'home/images/logo.png' %}" alt="Logo" class="footer-logo">
    <p class="footer-text">Powered by InfoTech Alliance</p>
</footer>


</html>